<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Artifactory" value="https://jfrog.firstam.net/artifactory/api/nuget/dotnet-nuget-remote" />
  </packageSources>
</configuration>
