<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Database" />
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>

  <variable name="logDir" value="${basedir}/logs" />

  <targets>
    <target xsi:type="File"
            name="allFile"
            fileName="${var:logDir}/app-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}|${aspnet-request-method} ${aspnet-request-url}|${aspnet-user-identity}" />

    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message}" />

    <target xsi:type="Database"
            name="dbStoredProc"
            dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
            connectionString="${configsetting:name=ConnectionStrings.DefaultConnection}"
            commandType="StoredProcedure"
            commandText="${configsetting:name=NLog:Database:StoredProcedureName:default=dbo.InsertLog}"
            keepConnection="false">
      <parameter name="@Level" layout="${level}" />
      <parameter name="@Message" layout="${message}" allowDbNull="true" />
      <parameter name="@Exception" layout="${exception:format=tostring}" allowDbNull="true" />
      <parameter name="@Logger" layout="${logger}" allowDbNull="true" />
      <parameter name="@ThreadId" layout="${threadid}" dbType="Int32" allowDbNull="true" />
      <parameter name="@EventId" layout="${event-properties:item=EventId_Id}" dbType="Int32" allowDbNull="true" />
      <parameter name="@UserId" layout="${event-properties:item=UserId}" dbType="Int32" allowDbNull="true" />
      <parameter name="@CorrelationId" layout="${event-properties:item=CorrelationId}" dbType="Guid" allowDbNull="true" />
      <parameter name="@Application" layout="EmployeeManagementSystem2.Server" allowDbNull="true" />
      <parameter name="@Host" layout="${machinename}" allowDbNull="true" />
      <parameter name="@Source" layout="${event-properties:item=Route:whenEmpty=${aspnet-request-path}}" allowDbNull="true" />
      <parameter name="@Properties" layout="${all-event-properties:format=json}" allowDbNull="true" />
      <parameter name="@LoggedAt" layout="${date:universalTime=true:format=o}" dbType="DateTimeOffset" allowDbNull="true" />
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Trace" writeTo="console,allFile" />
    <logger name="*" minlevel="Trace" writeTo="dbStoredProc" enabled="${configsetting:name=NLog:Database:Enabled:default=true}" />
  </rules>
</nlog>